/* GLOBAL STYLE BUTTONS */
@font-face {
  font-family: 'social-icon';
  src: url('../icons/social-icon.eot?pzyb1y');
  src: url('../icons/social-icon.eot?pzyb1y#iefix') format('embedded-opentype'), url('../icons/social-icon.ttf?pzyb1y') format('truetype'), url('../icons/social-icon.woff?pzyb1y') format('woff'), url('../icons/social-icon.svg?pzyb1y#social-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.social-button__icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.b-social-button--googleplus .social-button__icon:before {
  content: "\e907";
}
.b-social-button--facebook .social-button__icon:before {
  content: "\e90a";
}
.b-social-button--odnoklassniki .social-button__icon:before {
  content: "\e909";
}
.b-social-button--vkontakte .social-button__icon:before {
  content: "\e904";
}
.b-social-button--twitter .social-button__icon:before {
  content: "\e905";
}
.b-social-button--moimir .social-button__icon:before {
  content: "\e908";
}
.b-social-button--lj .social-button__icon:before {
  content: "\e901";
}
.b-social-button--linkedin .social-button__icon:before {
  content: "\e906";
}
.container-social-buttons {
  font-size: 0;
}
.container-social-buttons * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-social-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 28px;
  color: #000;
  cursor: pointer;
}
.b-social-button:last-child {
  border-right: 0;
}
.b-social-button .social-button__components {
  display: table-cell;
  table-layout: fixed;
  width: 100%;
}
.b-social-button .social-button__icon {
  display: table-cell;
  vertical-align: middle;
  padding: 0.2em;
  line-height: 1px;
}
.b-social-button .social-button__text,
.b-social-button .social-button__count {
  display: table-cell;
  font-size: 0.5em;
  padding: 5px 8px;
  vertical-align: middle;
}
.b-social-button .social-button__count--empty[data-count='0'] {
  display: none;
}
/* DEFAULT THEME */
.b-social-button--default {
  background: #EFEFEF;
}
.b-social-button--default .social-button__components > div {
  border-right: 1px solid #E0E0E0;
}
.b-social-button--default .social-button__components > div:last-child {
  border-right: 0;
}
.b-social-button--default .social-button__icon {
  background: #FFF;
}
.b-social-button--default .social-button__icon:before {
  color: #A9ADB6;
}
.b-social-button--default:hover {
  background: #FFF;
}
.b-social-button--default:hover .social-button__icon {
  border-right-color: transparent;
}
.b-social-button--default:hover .social-button__icon:before {
  color: #FFF;
}
.b-social-button--default.b-social-button--googleplus:hover .social-button__icon {
  background-color: #C25234;
}
.b-social-button--default.b-social-button--facebook:hover .social-button__icon {
  background-color: #3C5A98;
}
.b-social-button--default.b-social-button--odnoklassniki:hover .social-button__icon {
  background-color: #FF9F4D;
}
.b-social-button--default.b-social-button--vkontakte:hover .social-button__icon {
  background-color: #48729E;
}
.b-social-button--default.b-social-button--twitter:hover .social-button__icon {
  background-color: #00ACED;
}
.b-social-button--default.b-social-button--moimir:hover .social-button__icon {
  background-color: #2164AD;
}
.b-social-button--default.b-social-button--lj:hover .social-button__icon {
  background-color: #0D425A;
}
.b-social-button--default.b-social-button--linkedin:hover .social-button__icon {
  background-color: #0083BE;
}
/* COLOR THEME */
.b-social-button--color {
  margin-right: 10px;
  background-color: #FFF;
}
.b-social-button--color .social-button__components {
  color: #FFF;
}
.b-social-button--color.b-social-button--googleplus {
  background-color: #C25234;
}
.b-social-button--color.b-social-button--googleplus:hover {
  background-color: #ae4a2f;
}
.b-social-button--color.b-social-button--facebook {
  background-color: #3C5A98;
}
.b-social-button--color.b-social-button--facebook:hover {
  background-color: #354f86;
}
.b-social-button--color.b-social-button--odnoklassniki {
  background-color: #FF9F4D;
}
.b-social-button--color.b-social-button--odnoklassniki:hover {
  background-color: #ff9133;
}
.b-social-button--color.b-social-button--vkontakte {
  background-color: #48729E;
}
.b-social-button--color.b-social-button--vkontakte:hover {
  background-color: #40658c;
}
.b-social-button--color.b-social-button--twitter {
  background-color: #00ACED;
}
.b-social-button--color.b-social-button--twitter:hover {
  background-color: #0099d4;
}
.b-social-button--color.b-social-button--moimir {
  background-color: #2164AD;
}
.b-social-button--color.b-social-button--moimir:hover {
  background-color: #1d5898;
}
.b-social-button--color.b-social-button--lj {
  background-color: #0D425A;
}
.b-social-button--color.b-social-button--lj:hover {
  background-color: #0a3244;
}
.b-social-button--color.b-social-button--linkedin {
  background-color: #0083BE;
}
.b-social-button--color.b-social-button--linkedin:hover {
  background-color: #0071a5;
}
