@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.social-button__icon:before {
  font-family: "fontello" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.b-social-button--facebook .social-button__icon:before {
  content: '\e801';
}
.b-social-button--googlePlus .social-button__icon:before {
  content: '\e800';
}
.b-social-button--vkontakte .social-button__icon:before {
  position: relative;
  top: -1px;
  content: '\e803';
}
.b-social-button--twitter .social-button__icon:before {
  content: '\e804';
}
.b-social-button--odnoklassniki .social-button__icon:before {
  content: '\e802';
}
/* GLOBAL STYLE BUTTONS */
.container-social-buttons {
  font-size: 0;
}
.container-social-buttons * {
  box-sizing: border-box;
}
.b-social-button {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
.b-social-button .social-button__icon {
  float: left;
  padding: 10px 7px 9px 0;
  font-size: 16px;
}
.b-social-button .social-button__text {
  float: left;
}
.b-social-button .social-button__count {
  float: left;
}
/* DEFAULT THEME */
.b-social-button--default {
  border: 1px #e6e6e6 solid;
  background: #FFF;
  border-radius: 3px;
}
.b-social-button--default .social-button__icon {
  text-align: center;
  margin: 0;
  padding: 9px;
  height: 35px;
  width: 35px;
  overflow: hidden;
  float: left;
  font-size: 17px;
}
.b-social-button--default .social-button__text {
  padding: 10px 7px 10px 0;
}
.b-social-button--default .social-button__count {
  padding: 10px 7px 10px 0;
}
.b-social-button--default:hover {
  color: #FFF;
}
.b-social-button--default:hover .social-button__icon:before {
  color: #FFF !important;
}
.b-social-button--default.b-social-button--googlePlus .social-button__icon:before {
  color: #C25234;
}
.b-social-button--default.b-social-button--googlePlus:hover {
  background: #C25234;
  border-color: #C25234;
}
.b-social-button--default.b-social-button--facebook .social-button__icon:before {
  color: #3C5A98;
}
.b-social-button--default.b-social-button--facebook:hover {
  background: #3C5A98;
  border-color: #3C5A98;
}
.b-social-button--default.b-social-button--odnoklassniki .social-button__icon:before {
  color: #FF9F4D;
}
.b-social-button--default.b-social-button--odnoklassniki:hover {
  background: #FF9F4D;
  border-color: #FF9F4D;
}
.b-social-button--default.b-social-button--vkontakte .social-button__icon:before {
  color: #48729E;
}
.b-social-button--default.b-social-button--vkontakte:hover {
  background: #48729E;
  border-color: #48729E;
}
.b-social-button--default.b-social-button--twitter .social-button__icon:before {
  color: #00ACED;
}
.b-social-button--default.b-social-button--twitter:hover {
  background: #00ACED;
  border-color: #00ACED;
}
/* COLOR */
.b-social-button--color {
  border-radius: 2px;
  color: #FFF;
}
.b-social-button--color .social-button__icon {
  width: 41px;
  height: 41px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.b-social-button--color .social-button__icon:before {
  color: #FFF;
}
.b-social-button--color .social-button__text {
  padding: 14px 7px 13px 0px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.b-social-button--color .social-button__count {
  padding: 12px 7px 12px 0px;
  font-weight: bold;
}
.b-social-button--color.b-social-button--googlePlus {
  background: #C25234;
}
.b-social-button--color.b-social-button--googlePlus:hover {
  background: #AD472C;
}
.b-social-button--color.b-social-button--facebook {
  background: #3C5A98;
}
.b-social-button--color.b-social-button--facebook:hover {
  background: #314D86;
}
.b-social-button--color.b-social-button--odnoklassniki {
  background: #FF9F4D;
}
.b-social-button--color.b-social-button--odnoklassniki:hover {
  background: #E68B3E;
}
.b-social-button--color.b-social-button--vkontakte {
  background: #48729E;
}
.b-social-button--color.b-social-button--vkontakte:hover {
  background: #386390;
}
.b-social-button--color.b-social-button--twitter {
  background: #00ACED;
}
.b-social-button--color.b-social-button--twitter:hover {
  background: #0498D0;
}
/* FLAT3D */
.b-social-button--flat3d {
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  color: #FFF;
}
.b-social-button--flat3d .social-button__icon {
  width: 41px;
  height: 41px;
  padding: 11px;
  font-size: 18px;
  text-align: center;
}
.b-social-button--flat3d .social-button__icon:before {
  color: #FFF;
}
.b-social-button--flat3d .social-button__text {
  padding: 15px 7px 12px 0px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.b-social-button--flat3d .social-button__count {
  padding: 12px 7px 12px 0px;
}
.b-social-button--flat3d:hover {
  border-bottom-width: 2px;
}
.b-social-button--flat3d:active {
  border-bottom-width: 1px;
}
.b-social-button--flat3d.b-social-button--googlePlus {
  background: #C25234;
  border-bottom-color: #AD472C;
}
.b-social-button--flat3d.b-social-button--facebook {
  background: #3C5A98;
  border-bottom-color: #314D86;
}
.b-social-button--flat3d.b-social-button--odnoklassniki {
  background: #FF9F4D;
  border-bottom-color: #E68B3E;
}
.b-social-button--flat3d.b-social-button--vkontakte {
  background: #48729E;
  border-bottom-color: #386390;
}
.b-social-button--flat3d.b-social-button--twitter {
  background: #00ACED;
  border-bottom-color: #0498D0;
}
/* CIRCLE */
.b-social-button--circle .social-button__icon {
  width: 40px;
  height: 40px;
  padding: 9px;
  font-size: 18px;
  text-align: center;
  border-radius: 100%;
}
.b-social-button--circle .social-button__icon:before {
  position: relative;
  top: 1px;
  color: #FFF;
}
.b-social-button--circle .social-button__text {
  padding: 13px 4px 7px 7px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
}
.b-social-button--circle .social-button__count {
  padding: 14px 2px 2px 2px;
  font-size: 12px;
  color: #444;
}
.b-social-button--circle:hover .social-button__text,
.b-social-button--circle:hover .social-button__count {
  color: #000;
}
.b-social-button--circle.b-social-button--googlePlus .social-button__icon {
  background: #C25234;
}
.b-social-button--circle.b-social-button--googlePlus:hover .social-button__icon {
  background: #AD472C;
}
.b-social-button--circle.b-social-button--facebook .social-button__icon {
  background: #3C5A98;
}
.b-social-button--circle.b-social-button--facebook:hover .social-button__icon {
  background: #314D86;
}
.b-social-button--circle.b-social-button--odnoklassniki .social-button__icon {
  background: #FF9F4D;
}
.b-social-button--circle.b-social-button--odnoklassniki:hover .social-button__icon {
  background: #E68B3E;
}
.b-social-button--circle.b-social-button--vkontakte .social-button__icon {
  background: #48729E;
}
.b-social-button--circle.b-social-button--vkontakte:hover .social-button__icon {
  background: #386390;
}
.b-social-button--circle.b-social-button--twitter .social-button__icon {
  background: #00ACED;
}
.b-social-button--circle.b-social-button--twitter:hover .social-button__icon {
  background: #0498D0;
}
